html{
  background-color: black;
  color:white;
}
header{
  text-align: center;
}

header nav{
  margin-top : 10px;
}

header table{
  width:100%;
  text-align: center;
}

header td:first-child, header td:last-child{
  width: 30%;
}
